*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:Arial,sans-serif;

background:linear-gradient(
135deg,
#000000,
#1d3557,
#000000
);

padding:20px;
}


.container{

width:100%;
max-width:1000px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

padding:40px;

border-radius:25px;

box-shadow:0px 0px 25px rgba(255,255,255,0.2);

text-align:center;

color:white;
}


.hero img{

width:220px;
height:220px;

object-fit:cover;

border-radius:50%;

border:5px solid white;

margin-bottom:20px;
}


.hero h1{

font-size:55px;
margin-bottom:10px;
}


.hero h3{

font-size:28px;
font-weight:normal;

margin-bottom:25px;

color:#ddd;
}


.quote{

font-size:24px;

font-style:italic;

margin-bottom:40px;

line-height:35px;
}


.about h2{

font-size:38px;

margin-bottom:20px;
}


.about p{

font-size:18px;

line-height:35px;

text-align:justify;
}


footer{

margin-top:30px;

font-size:18px;

color:#ddd;
}



/* Mobile Responsive */

@media(max-width:768px){

.container{

padding:25px;
}

.hero img{

width:160px;
height:160px;
}

.hero h1{

font-size:35px;
}

.hero h3{

font-size:20px;
}

.quote{

font-size:18px;
}

.about h2{

font-size:28px;
}

.about p{

font-size:16px;
line-height:28px;
}

}